
@{
    ViewData["Title"] = "EventDelegation";
}

<div class="text-center" id="mainDiv">
    <p class="clickable">Clickable paragraph!!</p>
    <button class="clickable">Clickable button!</button>
</div>

@section Scripts {
    <script src="~/js/homeEventDelegation.js"></script>
}